@use '../../scss/' as *;

.player {
    margin-bottom: 30px;

    h3 {
        font-size: 24px;
        font-weight: $weight-bold;

        span {
            color: red;

            &:nth-child(2n) {
                color: green;
            }
        }
    }
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;

    span {
        color: red;
    }

    .plays-of {
        color: green;
    }
}