@use '../../scss/' as *;

.container {
    margin: 0 40px;

    p {
        width: 14%;
        margin: 0 auto 20px;
        text-align: center;
        padding: 10px 0;
        font-size: 24px;
        color: $white-txt-color;
    }

    .tilte {
        background-color: $button-color;
    }

    .search {
        width: 20%;
        padding: 5px 10px;
        margin-bottom: 20px;
    }

    
    .hide-player {
        margin-bottom: 20px;

        h3 {
            font-size: 40px;
            text-align: center;
        }
        span {
            color: green;
        }

        .winner {
            color: red;
        }
    }

    .grid-player {
        width: 100%;
    }

    .grid-winner {
        width: 47%;
        margin: 0 0 30px auto;
    }

    .data-grid {
        font-family: $font-family;
    }

    .footer {
        width: 14%;
        margin: 0 auto 20px;
        text-align: center;
        padding: 10px 0;
        font-size: 24px;
        color: $white-txt-color;
        background-color: #474747;
        border-radius: 0;
        display: flex;
        justify-content: center;
    }
}