@use '../../scss/' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $button-color;
    color: $white-txt-color;
    font-family: $font-family;
    border-radius: $border-radius-2;

    &:disabled {
        background-color: #dddddd;
        cursor: not-allowed;
        pointer-events: none;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $dark-txt-color;
}

input,
textarea {
    font-family: $font-family;
    resize: none;
    outline: none;
}

.App {
    max-width: 100vw;
    height: 100vh;
    color: $dark-txt-color;
}

.wrapper {
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

// Config css MUI

.MuiDataGrid-columnHeaderTitleContainer {
    align-items: center;
}

.MuiDataGrid-columnHeaderTitle {
    text-align: center;
    width: 100%;
    font-size: 22px;
}

.MuiDataGrid-cellContent {
    font-size: 18px;
}

.MuiDataGrid-columnHeader .MuiDataGrid-iconButtonContainer {
    visibility: visible !important;
    width: auto !important;
}

.MuiDataGrid-menuIcon {
    display: none !important;
}

.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
    margin: auto 10px !important;
    color: $dark-txt-color !important;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar {
    display: none;
}

.css-wop1k0-MuiDataGrid-footerContainer {
    display: none !important;
}