@use '../../scss/' as *;

.container {
    margin: 20px 50px;
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        p {
            padding: 10px 40px;
            background-color: $button-color;
            color: $white-txt-color;
        }
    }
}